<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 600px;
  }
</style>

<div class="message-content">
  <p>Hi {{name}}!</p>
  <p>It looks like a password change for your account has been requested.</p>
  <p>If it was you, then click the link below to choose a new password:</p>
  <p><a href="{{link}}">Reset password</a></p>
  <p>If it wasn't you, then discard this email!</p>
  <p>
    Thanks!<br />
    <strong>GoBarber Team</strong>
  </p>
</div>
